<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="./css/foundation.min.css" />
    <link rel="stylesheet" href="./css/dataTables.foundation.min.css"/>
    <link rel="stylesheet" href="./css/styles.css"/>

    <title>Grid Page</title>
</head>
<body>
    <div class="top-bar">
      <div class="top-bar-left">
        <ul class="dropdown menu" data-dropdown-menu>
          <li>
            <a href="#">Job Postings</a>
            <ul class="menu vertical">
              <li><a href="#">Jobs</a></li>
              <li><a href="#">Recruiters</a></li>
              <li><a href="#">Companies</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="top-bar-right">
        <ul class="menu">
          <li><input type="search" placeholder="Search"></li>
          <li><button type="button" class="button">Search</button></li>
        </ul>
      </div>
    </div>

    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell medium-12 text-center">
                <h3>Outstanding transactions</h3>
            </div>
        </div>
        <div class="grid-x grid-margin-x" >
            <div class="cell medium-12">
                <table id="example" class="example" style="table-layout: fixed ">
                        <tfoot>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Position</th>
                                <th>Office</th>
                                <th>Age</th>
                                <th>Start date</th>
                                <th>Salary</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>


    <script type="text/javascript" src="./js/jquery.min.js"></script>
    <script type="text/javascript" src="./js/foundation.min.js"></script>
    <script type="text/javascript" src="./js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="./js/dataTables.foundation.min.js"></script>

    <script>
        let columnDefs = [
            {
                title: "ID",
                data: "id",
                width: "5%",
                visible: false,
            },
            {
                title: "Name",
                data: "name",
                width: "30%",
                visible: true
            },
            {
                title: "Position",
                data: "position",
                width: "25%",
                visible: true
            },
            {
                title: "Office",
                data: "office",
                width: "20%",
                visible: true
            },
            {
                title: "Age",
                data: "age",
                width: "10%",
                visible: true
            },
            {
                title: "Start date",
                data: "date_start",
                width: "10%",
                visible: true
            },
            {
                title: "Salary",
                data: "salary",
                width: "10%",
                visible: true
            }
        ]

        $(document).ready(function() {
            $(document).foundation();

            $('#example').DataTable({
                "columns": columnDefs,
                "processing": true,
                "serverSide": false,
                "ajax":{
                    "url" : "/grid_data_test",
                    "dataSrc":"data",
                    "dataType": 'json',
                    "type": "GET"
                }
            });
        })
</script>
</body>
</html>
