<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible">

  <link rel="stylesheet" href="./css/foundation.min.css" />
  <link rel="stylesheet" href="./css/dataTables.foundation.min.css" />
  <link rel="stylesheet" href="./css/all.css" />
  <link rel="stylesheet" href="./css/styles.css" />

  <title>Jobs View</title>
</head>

<body>
  <div class="top-bar">
    <div class="top-bar-left">
      <ul class="dropdown menu" data-dropdown-menu>
        <li>
          <a href="#">Job Postings</a>
          <ul class="menu vertical">
            <li><a href="/jobs_view">Jobs</a></li>
            <li><a href="#">Recruiters</a></li>
            <li><a href="#">Companies</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="top-bar-right">
      <ul class="menu">
        <li><input type="search" placeholder="Search"></li>
        <li><button type="button" class="button">Search</button></li>
      </ul>
    </div>
  </div>

  <div class="grid-container">
    <div class="grid-x grid-margin-x">
      <div class="cell medium-12 text-center">
        <h3>Job Listing</h3>
      </div>
    </div>

    <div class="reveal" id="modalJobtracker" data-reveal data-options: "data-close-on-click: false">
      <form id="form-jobtrack" name="form-jobtrack" method="post" action="./jobs_view.html">

        <div class="grid-x grid-margin-x">
          <input type="hidden" id="_id" name="_id"/>

          <div class="cell medium-12">
            <label for="company-name" class="text-left">Company Name:</label>
            <input id="company-name" name="company-name" type="text" placeholder="Company">
          </div>
          <div class="cell medium-12">
            <label for="position" class="text-left">Position:</label>
            <input id="position" name="position" type="text" placeholder="Position">
          </div>
          <div class="cell medium-12">
            <label for="keywords" class="text-left">Keywords:</label>
            <input id="keywords" name="keywords" type="text" placeholder="Keywords">
          </div>

          <div class="cell medium-6">
            <label for="contact" class="text-left">Contact:</label>
            <input id="contact" name="contact" type="text" placeholder="Contact">
          </div>
          <div class="cell medium-6">
            <label for="phone" class="text-left">Phone:</label>
            <input id="phone" name="phone" type="text" placeholder="Phone">
          </div>

          <div class="cell medium-6">
            <label for="recruiter" class="text-left">Recruiter:</label>
            <input id="recruiter" name="recruiter" type="text" placeholder="Recruiter">
          </div>

          <div class="cell medium-6">
            <label for="phone" class="text-left">Phone:</label>
            <input id="phone" name="phone" type="text" placeholder="Phone">
          </div>

          <div class="cell medium-5">
            <label for="rate" class="text-left">Rate:</label>
            <input id="rate" name="rate" type="text" placeholder="Rate">
          </div>
          <div class="cell medium-5">
            <label for="status" class="text-left">Status:</label>
            <input id="status" name="status" type="text" placeholder="Status">
          </div>

          <div class="cell medium-12">
            <button class="close-button" data-close aria-label="Close modal" type="button">
              <span aria-hidden="true">&times;</span>
          </button>
          </div>

          <div class="cell small-12 text-align">
            <div class="grid-x grid-margin-x">
              <div class="cell medium-12 text-center">
                <div class=" expanded button-group">
                  <button id="delete-button" name="delete-button" class="small button [success secondary alert]" name="reset" type="button">Delete</button>
                  <button id="cancel-button" name="cancel-button" class="small button [success secondary alert]" name="cancel-button" type="button">Cancel</button>
                  <button id="save-button" name="save-button" class="small button [success secondary alert]" type="submit">Save</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- reveal end -->
    </div>
    <div class="grid-x grid-margin-x">
      <div class="cell medium-12">
        <table id="job-track" class="job-track" style="table-layout: fixed ">
        </table>
      </div>
    </div>
    </form>
  </div>

  <div class="cell small-12 text-align">
    <div class="grid-x grid-margin-x">
      <div class="cell medium-12 text-center">
        <button id="new-record" class="button new-record" data-open="modalJobtracker" >New Record</button>
      </div>
    </div>
  </div>

  <script type="text/javascript" src="./js/jquery.min.js"></script>
  <script type="text/javascript" src="./js/foundation.min.js"></script>
  <script type="text/javascript" src="./js/jquery.dataTables.min.js"></script>
  <script type="text/javascript" src="./js/dataTables.foundation.min.js"></script>
  <script type="text/javascript" src="./js/jobs_view.js"></script>
</body>

</html>
