<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./css/foundation.min.css" />

    <title>Recruiters</title>
</head>
<body>
    <div class="top-bar">
      <div class="top-bar-left">
        <ul class="dropdown menu" data-dropdown-menu>
          <li class="menu-text">Job Tracker</li>
          <li>
            <a href="#">Main Menu</a>
            <ul class="menu vertical">
              <li><a href="#">Main</a></li>
              <li><a href="#">Recruiters</a></li>
              <li><a href="#">Jobs</a></li>
            </ul>
          </li>
        </ul>
      </div>

      <div class="top-bar-right">
        <ul class="menu">
          <li><input type="search" placeholder="Search"></li>
          <li><button type="button" class="button">Search</button></li>
        </ul>
      </div>
    </div>

    <div class="container">
        <div class="grid-x grid-margin-x">
            <div class="cell medium-12 text-center">
                <form id="frmTest" name="frmTest" action="/insert_jobtrack" method="POST">
                    <!-- Recruiter Info -->
                    <input id="recruiter-company" name="recruiter-company" type="text" placeholder="Recruiter Company">
                    <input id="recruiter-contact" name="recruiter-contact" type="text" placeholder="Recruiter contact">
                    <input id="recruiter-phone" name="recruiter-phone" type="text" placeholder="Recruiter phone">
                    <input id="recruiter-url" name="recruiter-url" type="text" placeholder="Recruiter url">
                </form>
            </div> <!-- cell -->
        </div> <!-- grid-x -->
    </div> <!-- container -->

    <div id="like_button_container"></div>


    <script src="./js/jquery.min.js"></script>
    <script src="./js/what-input.min.js"></script>
    <script src="./js/foundation.min.js"></script>

    <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
    <script src="./js/like_button.js"></script>
    <script>
      $(document).foundation();
    </script>
</body>
</html>
